[submodule "src/es/components/web-components-cms-template"]
	path = src/es/components/web-components-cms-template
	url = https://github.com/mits-gossau/web-components-cms-template.git

[submodule "src/es/components/web-components-toolbox"]
  path = src/es/components/web-components-toolbox
	url = https://github.com/mits-gossau/web-components-toolbox.git
