<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <meta name="viewport" content="width=device-width; initial-scale=1; viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <link href=../web-components-toolbox/src/css/initial.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/reset.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/colors.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/fonts.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/variables.css rel=stylesheet type="text/css">
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <link href=../../../css/variablesCustom.css rel=stylesheet>
  <script src="../../../../wc-config.js" type="text/javascript"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <link href="../../../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="../../../css/cccd2390-2102-11ec-bcae-02a6d29600a2.css" rel="stylesheet" type="text/css">
  <title>M4Music</title>
</head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <header>
        <a-logo namespace="header-logo-"
          src="https://testadmin.m4music.ch/media/f0bmfna5/logo-weiss-2x.png?anchor=center&mode=crop&height=100&format=png&quality=80&rnd=132797369232570000"
          arial-label="M4Music Logo" href="/">
        </a-logo>
      </header>
    </o-header>
    <m4music-o-body namespace="body-" namespace-fallback>
      <div>
        <m4music-o-wrapper no-space background-color="white" >
          <h1>Demotape Clinic 2022 - Jetzt anmelden!</h1>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-wrapper background-color="white" no-space>
          <div>
            <p>Gewinne FONDATION-SUISA-Awards im Gesamtwert von 17’000 Franken und bring deine Musikkarriere auf ein
              neues Level.</p>
            <m4music-a-button namespace="button-" namespace-fallback type="primary">Jetzt anmelden</m4music-a-button>
            <m4music-a-button namespace="button-" namespace-fallback type="pass-secondary">Reglement</m4music-a-button>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-wrapper columns="2" background-color="white" >
          <m4music-o-wrapper no-space background-color="white">
            <h2>Infos & Ablauf</h2>
          </m4music-o-wrapper>
          <div>
            <p>Die Demotape Clinic von m4music, dem Popmusikfestival des Migros-Kulturprozent, sucht jedes Jahr die
              besten Schweizer Nachwuchs-Songs. <a href=""> Die 60 überzeugendsten Demos</a>, aufgeteilt in die vier
              Kategorien Pop,
              Rock, Lyrics & Beats und Electronic, werden am Festival in Zürich durch eine Jury aus Musikprofis
              bewertet. </p>
          </div>
          <div>
            <ul class=check>
              <li>Persönliches Feedback von Szeneprofis</li>
              <li>FONDATION-SUISA-Awards im Gesamtwert von 17’000 Franken</li>
              <li>Radio-Airplay, Interviews, Festival-Auftritte, Aufmerksamkeit in der Schweizer Musikszene</li>
              <li>Coaching durch «Double», der Mentorats-Plattform des Migros-Kulturprozent</li>
            </ul>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-wrapper columns="3" align-content-mobile="center" background-color="white">
          <div>
            <h1 class="process-step-count">1</h1>
            <h6 class="lowercase process-step-date">bis 16. Januar 2022</h6>
            <h4 class="lowercase process-step-action">Sende dein Demotape ein</h4>
            <m4music-a-button namespace="button-" namespace-fallback type="arrow">zur Anmeldung</m4music-a-button>
          </div>
          <div>
            <h1 class="process-step-count">2</h1>
            <h6 class="lowercase">bis Ende Januar</h6>
            <h4 class="lowercase">Die Vorjury prüft alle Einsendungen und wählt die Top 60 Nominees</h4>
          </div>
          <div>
            <h1 class="process-step-count">3</h1>
            <h6 class="lowercase">25. & 26. März 2022</h6>
            <h4 class="lowercase">Jury-Livesessions am m4music Festival: Das grosse Finale!</h4>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-wrapper no-space background-color="white" >
          <div>
            <h2>Meet the Jury</h2>
            <h5 class="lowercase">Ein kleiner Auszug aus der Jury:</h5>
          </div>
        </m4music-o-wrapper>
        <m4music-o-wrapper columns="2" no-space namespace="juryWrapper-" namespace-fallback background-color="white" >
          <div>
            <a-picture namespace="body-picture-" namespace-fallback defaultsource="../../../img/portrait.png"
              alt="02 DTC Isa"> </a-picture>
            <h3>Isi Von Walterskirchen</h3>
            <h6 class="lowercase">Electronic</h6>
            <p>Clubbüro Rote Fabrik</p>
          </div>
          <div>
            <a-picture namespace="body-picture-" namespace-fallback defaultsource="../../../img/portrait.png"
              alt="03 DTC Pablo"> </a-picture>
            <h3>Pablo Vögtli</h3>
            <h6 class="lowercase">Lyrics & Beats</h6>
            <p>Moderator und Redaktor Bounce SRF Virus</p>
          </div>
        </m4music-o-wrapper>
        <m4music-o-wrapper columns="2" no-space namespace="juryWrapper-" namespace-fallback background-color="white" >
          <div>
            <a-picture namespace="body-picture-" namespace-fallback defaultsource="../../../img/portrait.png"
              alt="01 DTC THEOQUIBLIER 2"></a-picture>
            <h3>Théo Quiblier</h3>
            <h6 class="lowercase">Rock</h6>
            <p>Concerts &amp; Touring, Two Gentlemen</p>
          </div>
          <div>
            <a-picture namespace="body-picture-" namespace-fallback defaultsource="../../../img/portrait.png"
              alt="04 DTC Marion"></a-picture>
            <h3>Marion Meier</h3>
            <h6 class="lowercase">Pop</h6>
            <p>Programmation Blue Balls Festival</p>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-m-quote namespace="quote-" background-color="white" >
          <a-picture namespace="quote-picture-" namespace-fallback defaultsource="../../../img/test.jpg"
            alt="02 DTC Isa">
          </a-picture>
          <div class="quote-wrapper">
            <p class="quote">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa.</p>
            <p class="quote-person">Valeska Steiner – BOY</p>
          </div>
        </m4music-m-quote>
      </div>

      <div>
        <m4music-o-wrapper no-space background-color="white">
          <h3>Alle Events</h3>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-list namespace="list-" background-color="white">
          <m4music-a-filter>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" class="active"
              data-filter-value="show_all">Alle</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Keynote">
              Keynote</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Workshop">
              Workshop</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Panel">
              Panel</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Deutsch">
              Deutsch</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="English">
              English</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Français">
              Français</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Kostenlos">
              Kostenlos</m4music-a-button>
          </m4music-a-filter>
          <m4music-o-wrapper type="event-wrapper" namespace="list-wrapper-" namespace-fallback no-space background-color="white" >
            <m4music-m-event-item type="event" namespace="event-item-" data-tags="Deutsch Kostenlos" href="https://migros.ch">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="date">20.12.2022 - 18:30</p>
                <p class="name">DE Kostenlos Neque pellentsures fusce</p>
                <p class="description">Optional description.....</p>
              </div>
            </m4music-m-event-item>
            <m4music-m-event-item type="event" namespace="event-item-" data-tags="English Kostenlos" href="https://migros.ch">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="date">17.12.2022 - 14:30</p>
                <p class="name">EN Kostenlos Pharetra et ut</p>
                <p class="description">Optional description.....</p>
              </div>
            </m4music-m-event-item>
            <m4music-m-event-item type="event" namespace="event-item-" data-tags="Français Panel">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="date">01.01.2022 - 11:30</p>
                <p class="name">FR Panel At vestibulum enim</p>
              </div>
            </m4music-m-event-item>
          </m4music-o-wrapper>
        </m4music-o-list>
      </div>
      <div>
        <m4music-o-wrapper no-space background-color="white" >
          <h3>Speakers</h3>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-list namespace="list-" background-color="white">
          <m4music-o-wrapper namespace="list-wrapper-" namespace-fallback no-space type="speaker">
            <m4music-m-event-item namespace="event-item-" >
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="name">Valeska Steiner</p>
                <p class="description">Musikerin, BOY, Zürich</p>
              </div>
            </m4music-m-event-item>
            <m4music-m-event-item namespace="event-item-">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="name">KT Gorique</p>
                <p class="description">Musikerin, Sion.</p>
              </div>
            </m4music-m-event-item>
          </m4music-o-wrapper>
        </m4music-o-list>
      </div>
    </m4music-o-body>
    <m4music-o-footer namespace="footer-" namespace-fallback>
      <div class="footer__main">
        <div class="footer__engagement hide-mobile">
          <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
            href="https://www.migros-engagement.ch/de/engagement" target="_blank">
            <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
              Migros-Gruppe:
              <br><a href="https://www.migros-engagement.ch/de" target="_blank">migros-engagement.ch</a>
            </p>
          </a-logo>
        </div>
        <div class="footer__nav">
          <div>
            <h6>Über uns</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Team</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Festival History</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>Services</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Medien</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Professionals</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>Kontakt</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="mailto:info@m4music.ch">info@m4music.ch</a>
                </a-link>
              </li>
              <li>
                <div class="icons">
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/facebook.svg"
                    href="https://www.facebook.com/m4music" target="_blank" lang="de" title="Facebook">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/instagram.svg"
                    href="https://www.instagram.com/m4musicfestival/" target="_blank" lang="de" title="Instagram">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/spotify.svg"
                    href="https://open.spotify.com/user/m4musicfestival" target="_blank" lang="de" title="Spotify">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/youtube.svg"
                    href="https://www.youtube.com/user/m4music1" target="_blank" lang="de" title="Youtube">
                  </a-logo>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__meta">
        <div class="metalinks">
          <ul>
            <li>&copy; m4music</li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> Impressum </a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a
                  href="https://www.migros.ch/de/rechtliche-informationen.html" target="_blank">Rechtliches</a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="https://www.migros.ch/de/datenschutz.html"
                  target="_blank">Datenschutz</a></a-link>
            </li>
          </ul>
        </div>
        <div>
          <ul class="languages">
            <li>
              <a-link namespace="footer-" namespace-fallback class="active"><a href="http://www.m4music.ch/">DE</a>
              </a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="http://www.m4music.ch/fr/">FR</a></a-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__engagement hide-desktop">
        <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
          href="https://www.migros-engagement.ch/de/engagement" target="_blank">
          <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
            Migros-Gruppe:
            <br><a href="https://www.migros-engagement.ch/de" target="_blank">migros-engagement.ch</a>
          </p>
        </a-logo>
      </div>
    </m4music-o-footer>
  </p-general>

  <script rel="preload" type="module">
    self.Environment = {
      mobileBreakpoint: '960px'
    }
  </script>

</body>

</html>