<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <link href="../../../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../../../css/cccd2390-2102-11ec-bcae-02a6d29600a2.css">
  <title>M4Music</title>
</head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <a-logo namespace="header-logo-" src="../../../img/m4m_white.svg" href="/" namespace-fallback></a-logo>
    </o-header>
    <script rel=preload type=module>
      self.isBSVC = "true"
    </script>
    <m4music-o-body namespace="body-" namespace-fallback>
      <div>
        <m4music-a-embed>
          <script type="text/javascript" charset="utf-8" src="https://secure.polldaddy.com/p/10495278.js"></script>
          <noscript><a href="https://poll.fm/10495278">Best Swiss Video Clip</a></noscript>          
        </m4music-a-embed>
      </div>
    </m4music-o-body>
  </p-general>
</body>

</html>