<!DOCTYPE html>
<html lang="de">

<head>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=../../../css/variables.css rel=stylesheet>
    <link href=../../../css/misc.css rel=stylesheet>
    <link href=../../../css/fonts.css rel=stylesheet>
    <script type="text/javascript" src="../../../../wc-config.js"></script>
    <!-- NOTE: Remove line Debugging.js below for none localhost -->
    <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
    <link href="../../../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../../css/cccd2390-2102-11ec-bcae-02a6d29600a2.css">
    <title>M4Music</title>
  </head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <header>
        <a-logo namespace="header-logo-"
          src="https://testadmin.m4music.ch/media/f0bmfna5/logo-weiss-2x.png?anchor=center&mode=crop&height=100&format=png&quality=80&rnd=132797369232570000"
          arial-label="M4Music Logo" href="/"></a-logo>
      </header>
    </o-header>
    <m4music-o-body namespace="body-" namespace-fallback>
      <div>
        <m4music-o-wrapper no-space>
          <h3>Alle Events</h3>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-list namespace="list-">
          <m4music-a-filter background-color="white">
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" class="active"
              data-filter-value="show_all">Alle</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Keynote">
              Keynote</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Workshop">
              Workshop</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Panel">
              Panel</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Deutsch">
              Deutsch</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="English">
              English</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Français">
              Français</m4music-a-button>
            <m4music-a-button namespace="button-filter-" namespace-fallback type="filter" data-filter-value="Kostenlos">
              Kostenlos</m4music-a-button>
          </m4music-a-filter>
          <m4music-o-wrapper type="event-wrapper" namespace="list-wrapper-" namespace-fallback no-space background-color="white">
            <m4music-m-event-item type="event" namespace="event-item-" data-tags="Deutsch Kostenlos">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="date">20.12.2022 - 18:30</p>
                <p class="name">DE Kostenlos Neque pellentsures fusce</p>
                <p class="description">Optional description.....</p>
              </div>
            </m4music-m-event-item>
            <m4music-m-event-item type="event" namespace="event-item-" data-tags="English Kostenlos">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="date">17.12.2022 - 14:30</p>
                <p class="name">EN Kostenlos Pharetra et ut</p>
                <p class="description">Optional description.....</p>
              </div>
            </m4music-m-event-item>
            <m4music-m-event-item type="event" namespace="event-item-" data-tags="Français Panel">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="date">01.01.2022 - 11:30</p>
                <p class="name">FR Panel At vestibulum enim</p>
              </div>
            </m4music-m-event-item>
          </m4music-o-wrapper>
        </m4music-o-list>
      </div>
      <div>
        <m4music-o-wrapper no-space>
          <h3>Speakers</h3>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-list namespace="list-">
          <m4music-o-wrapper namespace="list-wrapper-" namespace-fallback no-space>
            <m4music-m-event-item namespace="event-item-">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="name">Valeska Steiner</p>
                <p class="description">Musikerin, BOY, Zürich</p>
              </div>
            </m4music-m-event-item>
            <m4music-m-event-item namespace="event-item-">
              <div class="image-wrapper">
                <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="/assets/img/dummy-item.png"
                  alt="02 DTC Isa"> </a-picture>
              </div>
              <div class="content-wrapper">
                <p class="name">KT Gorique</p>
                <p class="description">Musikerin, Sion.</p>
              </div>
            </m4music-m-event-item>
          </m4music-o-wrapper>
        </m4music-o-list>
      </div>
    </m4music-o-body>
    <m4music-o-footer namespace="footer-" namespace-fallback>
      <div class="footer__main">
        <div class="footer__engagement hide-mobile">
          <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
            href="https://www.migros-engagement.ch/de/engagement" target="_blank">
            <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
              Migros-Gruppe:
              <br><a href="https://www.migros-engagement.ch/de" target="_blank">migros-engagement.ch</a>
            </p>
          </a-logo>
        </div>
        <div class="footer__nav">
          <div>
            <h6>Über uns</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Team</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Festival History</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>Services</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Medien</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Professionals</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>Kontakt</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="mailto:info@m4music.ch">info@m4music.ch</a>
                </a-link>
              </li>
              <li>
                <div class="icons">
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/facebook.svg"
                    href="https://www.facebook.com/m4music" target="_blank" lang="de" title="Facebook">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/instagram.svg"
                    href="https://www.instagram.com/m4musicfestival/" target="_blank" lang="de" title="Instagram">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/spotify.svg"
                    href="https://open.spotify.com/user/m4musicfestival" target="_blank" lang="de" title="Spotify">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/youtube.svg"
                    href="https://www.youtube.com/user/m4music1" target="_blank" lang="de" title="Youtube">
                  </a-logo>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__meta">
        <div class="metalinks">
          <ul>
            <li>&copy; m4music</li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> Impressum </a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a
                  href="https://www.migros.ch/de/rechtliche-informationen.html" target="_blank">Rechtliches</a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="https://www.migros.ch/de/datenschutz.html"
                  target="_blank">Datenschutz</a></a-link>
            </li>
          </ul>
        </div>
        <div>
          <ul class="languages">
            <li>
              <a-link namespace="footer-" namespace-fallback class="active"><a href="http://www.m4music.ch/">DE</a>
              </a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="http://www.m4music.ch/fr/">FR</a></a-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__engagement hide-desktop">
        <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
          href="https://www.migros-engagement.ch/de/engagement" target="_blank">
          <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
            Migros-Gruppe:
            <br><a href="https://www.migros-engagement.ch/de" target="_blank">migros-engagement.ch</a>
          </p>
        </a-logo>
      </div>
    </m4music-o-footer>
  </p-general>

  <script rel="preload" type="module">
    self.Environment = {
      mobileBreakpoint: '960px'
    }
  </script>

</body>

</html>