<!DOCTYPE html>
<html lang="de">

<head>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <meta name="viewport" content="width=device-width; initial-scale=1; viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <link href=../web-components-toolbox/src/css/initial.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/reset.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/colors.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/fonts.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/variables.css rel=stylesheet type="text/css">
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <link href=../../../css/variablesCustom.css rel=stylesheet>
  <script src="../../../../wc-config.js" type="text/javascript"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <link href="../../../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="../../../css/cccd2390-2102-11ec-bcae-02a6d29600a2.css" rel="stylesheet" type="text/css">
  <title>Highlight Acts</title>
</head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <header>
        <a-logo namespace="header-logo-big-"
          src="../../../img/logo-weiss-2x.png"
          arial-label="M4Music Logo" href="/"></a-logo>
      </header>
    </o-header>
    <m4music-o-body namespace="body-" namespace-fallback>
      <div>
          <h2>SHOWS AM M4MUSIC FESTIVAL 2022 25. & 26. MÄRZ IN ZÜRICH</h2>
          <p>Entdecke die aktuellsten upcoming Artists auf 5 Festivalbühnen im EXIL, Moods & Schiffbau (Halle, Box, Open Air).</p>
          <m4m-a-button namespace="button-primary-">Tickets</m4m-a-button>
          <div>
            <m4m-a-button namespace="button-link-">RECORDINGS CONFERENCE 2022
            </m4m-a-button>
          </div>
      </div>
      <div>
        <m4music-o-list namespace="list-" background-color="white">
          <m4music-a-filter background-color="white">
            <div class="filter">
              <h5>Filter</h5>
              <m4music-a-button namespace="button-filter-" class="active" data-filter-value="show_all"
                data-showall-translation="Alle Events" data-reset-translation="Filter zurücksetzen" namespace-fallback
                type="filter"> Alle Events </m4music-a-button>
            </div>
            <div class="weekdays">
              <h5>Tag</h5>
              <div class="filterButtonContainer">
                <m4music-a-button namespace="button-filter-" data-filter-value="Freitag" data-filter-group="day" namespace-fallback
                  type="filter"> Freitag </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="Samstag" data-filter-group="day" namespace-fallback
                  type="filter"> Samstag </m4music-a-button>
              </div>
            </div>
            <div class="locations">
              <h5>Location</h5>
              <div class="filterButtonContainer">
                <m4music-a-button namespace="button-filter-" data-filter-value="Box_Zürich" data-filter-group="location" namespace-fallback
                  type="filter"> Box </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="Matchbox_Zürich" data-filter-group="location" namespace-fallback
                  type="filter"> Matchbox </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="Moods_Zürich" data-filter-group="location" namespace-fallback
                  type="filter"> Moods </m4music-a-button>
              </div>
            </div>
            <div class="languages">
              <h5>Sprache</h5>
              <div class="filterButtonContainer">
                <m4music-a-button namespace="button-filter-" data-filter-value="DE" data-filter-group="language" namespace-fallback type="filter">
                  Deutsch </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="EN" data-filter-group="language" namespace-fallback type="filter">
                  Englisch </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="FR" data-filter-group="language" namespace-fallback type="filter">
                  Französisch </m4music-a-button>
              </div>
            </div>
            <div class="genres">
              <h5>Genre</h5>
              <div class="filterButtonContainer">
                <m4music-a-button namespace="button-filter-" data-filter-value="Workshop" data-filter-group="genre" namespace-fallback
                  type="filter"> Workshop </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="Panel" data-filter-group="genre" namespace-fallback type="filter">
                  Panel </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="Unterhaltung" data-filter-group="genre" namespace-fallback
                  type="filter"> Unterhaltung </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="Lesung_Gespräch" data-filter-group="genre" namespace-fallback
                  type="filter"> Lesung & Gespräch </m4music-a-button>
              </div>
            </div>
            <div class="entry">
              <h5>Veranstaltungstyp</h5>
              <div class="filterButtonContainer">
                <m4music-a-button namespace="button-filter-" data-filter-value="Free" data-filter-group="entry" namespace-fallback type="filter">
                  Eintritt frei </m4music-a-button>
                <m4music-a-button namespace="button-filter-" data-filter-value="Ticket" data-filter-group="entry" namespace-fallback type="filter">
                  mit Ticket </m4music-a-button>
              </div>
            </div>
          </m4music-a-filter>
          <m4music-o-wrapper type="event-wrapper" namespace="list-wrapper-" namespace-fallback no-space>
            <a href="/events/de/2022/m4music-festival/conference/kulturelle-aneignung-und-musik-antirassistisch-im-musikbusiness/#eventList" class="event-item">
              <m4music-m-event-item namespace="event-item-" namespace-fallback
                data-tags="conference DE Workshop Free Freitag Box_Zürich" type="event">
                <div class="image-wrapper">
                  <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="http://via.placeholder.com/368x368"
                    alt="02 DTC Isa"> </a-picture>
                </div>
                <div class="content-wrapper">
                  <p class="date">25.03.2022 – 09:30 – Box</p>
                  <p class="entry">Eintritt frei</p>
                  <p class="name">Kulturelle Aneignung und Musik:</p>
                </div>
              </m4music-m-event-item>
            </a>
            <a href="/events/de/2022/m4music-festival/conference/kulturelle-aneignung-und-musik-antirassistisch-im-musikbusiness/#eventList" class="event-item">
              <m4music-m-event-item namespace="event-item-" namespace-fallback data-tags="Keynote Ticket" type="event">
                <div class="image-wrapper">
                  <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="http://via.placeholder.com/368x368"
                    alt="02 DTC Isa"> </a-picture>
                </div>
                <div class="content-wrapper">
                  <p class="date">20.12.2022 - 18:30 - <span>Exil</span></p>
                  <p class="entry">Ticket</p>
                  <p class="name">DE Kostenlos Neque pellentsures fusce</p>
                </div>
              </m4music-m-event-item>
            </a>
            <a href="/events/de/2022/m4music-festival/conference/kulturelle-aneignung-und-musik-antirassistisch-im-musikbusiness/#eventList" class="event-item">
              <m4music-m-event-item type="event" namespace="event-item-" data-tags="English Free">
                <div class="image-wrapper">
                  <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="http://via.placeholder.com/368x368"
                    alt="02 DTC Isa"> </a-picture>
                </div>
                <div class="content-wrapper">
                  <p class="date">20.12.2022 - 18:30 - <span>Exil</span></p>
                  <p class="entry">Eintritt frei</p>
                  <p class="name">EN Kostenlos Pharetra et ut</p>
                </div>
              </m4music-m-event-item>
            </a>
            <a href="/events/de/2022/m4music-festival/conference/kulturelle-aneignung-und-musik-antirassistisch-im-musikbusiness/#eventList" class="event-item">
              <m4music-m-event-item type="event" namespace="event-item-" data-tags="Français Panel Ticket">
                <div class="image-wrapper">
                  <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="http://via.placeholder.com/368x368"
                    alt="02 DTC Isa"> </a-picture>
                </div>
                <div class="content-wrapper">
                  <p class="date">20.12.2022 - 18:30 - <span>Exil</span></p>
                  <p class="entry">Ticket</p>
                  <p class="name">FR Panel At vestibulum enim</p>
                </div>
              </m4music-m-event-item>
            </a>
            <a href="/events/de/2022/m4music-festival/conference/kulturelle-aneignung-und-musik-antirassistisch-im-musikbusiness/#eventList" class="event-item">
              <m4music-m-event-item type="event" namespace="event-item-" data-tags="Deutsch Ticket">
                <div class="image-wrapper">
                  <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="http://via.placeholder.com/368x368"
                    alt="02 DTC Isa"> </a-picture>
                </div>
                <div class="content-wrapper">
                  <p class="date">20.12.2022 - 18:30 - <span>Exil</span></p>
                  <p class="entry">Ticket</p>
                  <p class="name">DE Kostenlos Neque pellentsures fusce</p>
                </div>
              </m4music-m-event-item>
            </a>
            <a href="/events/de/2022/m4music-festival/conference/kulturelle-aneignung-und-musik-antirassistisch-im-musikbusiness/#eventList" class="event-item">
              <m4music-m-event-item type="event" namespace="event-item-" data-tags="English Free">
                <div class="image-wrapper">
                  <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="http://via.placeholder.com/368x368"
                    alt="02 DTC Isa"> </a-picture>
                </div>
                <div class="content-wrapper">
                  <p class="date">20.12.2022 - 18:30 - <span>Exil</span></p>
                  <p class="entry">Eintritt frei</p>
                  <p class="name">EN Kostenlos Pharetra et ut</p>
                </div>
              </m4music-m-event-item>
            </a>
            <a href="/events/de/2022/m4music-festival/conference/kulturelle-aneignung-und-musik-antirassistisch-im-musikbusiness/#eventList" class="event-item">
              <m4music-m-event-item type="event" namespace="event-item-" data-tags="Français Panel Ticket">
                <div class="image-wrapper">
                  <a-picture namespace="event-item-picture-" namespace-fallback defaultsource="http://via.placeholder.com/368x368"
                    alt="02 DTC Isa"> </a-picture>
                </div>
                <div class="content-wrapper">
                  <p class="date">20.12.2022 - 18:30 - <span>Exil</span></p>
                  <p class="entry">Ticket</p>
                  <p class="name">FR Panel At vestibulum enim</p>
                </div>
              </m4music-m-event-item>
            </a>
          </m4music-o-wrapper>
        </m4music-o-list>
      </div>
    </m4music-o-body>
    <m4music-o-footer namespace="footer-" namespace-fallback>
      <div class="footer__main">
        <div class="footer__engagement hide-mobile">
          <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
            href="https://www.migros-engagement.ch/de/engagement" target="_blank">
            <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
              Migros-Gruppe:
              <br><a href="https://www.migros-engagement.ch/de" target="_blank">migros-engagement.ch</a>
            </p>
          </a-logo>
        </div>
        <div class="footer__nav">
          <div>
            <h6>Über uns</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Team</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Festival History</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>Services</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Medien</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Professionals</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>Kontakt</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="mailto:info@m4music.ch">info@m4music.ch</a>
                </a-link>
              </li>
              <li>
                <div class="icons">
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/facebook.svg"
                    href="https://www.facebook.com/m4music" target="_blank" lang="de" title="Facebook">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/instagram.svg"
                    href="https://www.instagram.com/m4musicfestival/" target="_blank" lang="de" title="Instagram">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/spotify.svg"
                    href="https://open.spotify.com/user/m4musicfestival" target="_blank" lang="de" title="Spotify">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/youtube.svg"
                    href="https://www.youtube.com/user/m4music1" target="_blank" lang="de" title="Youtube">
                  </a-logo>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__meta">
        <div class="metalinks">
          <ul>
            <li>&copy; m4music</li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> Impressum </a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a
                  href="https://www.migros.ch/de/rechtliche-informationen.html" target="_blank">Rechtliches</a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="https://www.migros.ch/de/datenschutz.html"
                  target="_blank">Datenschutz</a></a-link>
            </li>
          </ul>
        </div>
        <div>
          <ul class="languages">
            <li>
              <a-link namespace="footer-" namespace-fallback class="active"><a href="http://www.m4music.ch/">DE</a>
              </a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="http://www.m4music.ch/fr/">FR</a></a-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__engagement hide-desktop">
        <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
          href="https://www.migros-engagement.ch/de/engagement" target="_blank">
          <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
            Migros-Gruppe:
            <br><a href="https://www.migros-engagement.ch/de" target="_blank">migros-engagement.ch</a>
          </p>
        </a-logo>
      </div>
    </m4music-o-footer>
  </p-general>

  <script rel="preload" type="module">
    self.Environment = {
      mobileBreakpoint: '960px'
    }
  </script>

</body>

</html>