<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>M4Music</title>
</head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <a-logo namespace="header-logo-" src="../../../img/m4m_white.svg" href="/" namespace-fallback></a-logo>
    </o-header>
    <m4music-o-body namespace="body-" namespace-fallback>
      <div>
        <h1>Demotape Clinic 2022 – jetzt anmelden!</h1>
        <p>Gewinne FONDATION-SUISA-Awards im Gesamtwert von 17’000 Franken und bring deine Musikkarriere auf ein
          neues Level.</p>
        <m4music-a-button namespace="button-" namespace-fallback type="primary">Jetzt anmelden</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="secondary">Weitere Informationen
        </m4music-a-button>
      </div>
      <div class="spacer"></div>
      <div>
        <m4music-a-video namespace="video-">
          <!-- More examples at \src\es\components\web-components-cms-template\src\es\components\atoms\Video.html -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7THS7my2gsw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </m4music-a-video>
      </div>
      <div class="spacer"></div>
      <div>
        <h2>Infos & Ablauf</h2>
      </div>
      <div>
        <m4music-o-wrapper columns="2">
          <div>
            <p>Die Demotape Clinic von m4music, dem Popmusikfestival des Migros-Kulturprozent, sucht jedes Jahr die
              besten Schweizer Nachwuchs-Songs. <a href=""> Die 60 überzeugendsten Demos</a>, aufgeteilt in die vier
              Kategorien Pop,
              Rock, Lyrics & Beats und Electronic, werden am Festival in Zürich durch eine Jury aus Musikprofis
              bewertet. </p>
          </div>
          <div>
            <ul class=check>
              <li>Persönliches Feedback von Szeneprofis</li>
              <li>FONDATION-SUISA-Awards im Gesamtwert von 17’000 Franken</li>
              <li>Radio-Airplay, Interviews, Festival-Auftritte, Publizität in der Schweizer Musikszene</li>
              <li>Coaching durch «Double«, der Mentorats-Plattform des Migros-Kulturprozent</li>
            </ul>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-wrapper columns="3" align-content-mobile="center">
          <div>
            <h1>1</h1>
            <h6 class="lowercase">bis 3. Januar 2022</h6>
            <h4 class="lowercase">Sende dein Demotape ein</h4>
            <div>
              <m4music-a-button namespace="button-" namespace-fallback type="arrow">Anmelden</m4music-a-button>
            </div>
          </div>
          <div>
            <h1>2</h1>
            <h6 class="lowercase">bis 3. Januar 2022</h6>
            <h4 class="lowercase">Die Vorjury prüft alle Einsendungen und wählt die Top 60 Nominees</h4>
          </div>
          <div>
            <h1>3</h1>
            <h6 class="lowercase">bis 3. Januar 2022</h6>
            <h4 class="lowercase">Jury-Livesessions: Das grosse Finale! Wer holt sich den Preis?</h4>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-wrapper no-space>
          <div>
            <h2>Meet the Jury</h2>
            <h5>Kleiner Auszug aus der Jury – im März erwarten euch dann noch viele weitere Professionals aus den Szenen
              Rock, Electronic, Lyrics & Beats und Pop.</h5>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-o-wrapper columns="3">
          <div>
            <a-picture namespace="body-picture-" defaultsource="../../../img/portrait.png" alt="KT Gorique"></a-picture>
            <h3>KT Gorique</h3>
            <h6>Musikerin, Zürich</h6>
          </div>
          <div>
            <a-picture namespace="body-picture-" defaultsource="../../../img/portrait.png" alt="KT Gorique"></a-picture>
            <h3>Pablo Vögtli</h3>
            <h6>Moderator und Redaktor Bounce SRF Virus, Luzern</h6>
          </div>
          <div>
            <a-picture namespace="body-picture-" defaultsource="../../../img/portrait.png" alt="KT Gorique"></a-picture>
            <h3>Martina Berther</h3>
            <h6>Musikerin und Produzentin, Sion</h6>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-m-highlightbox namespace="highlightbox-">
          <h3>Jetzt mitmachen und 17’000 Franken gewinnen!</h3>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet
            rutrum faucibus dolor auctor.</p>
          <m4music-a-button namespace="button-" namespace-fallback type="primary">Jetzt anmelden</m4music-a-button>
        </m4music-m-highlightbox>
      </div>

    </m4music-o-body>
    <m4music-o-footer namespace="footer-" namespace-fallback>
      <div class="footer__main">
        <div class="footer__engagement hide-mobile">
          <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
            href="https://www.migros-engagement.ch/engagement" target="_blank" lang="de">
            <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
              Migros-Gruppe:
              <br /><a href="http://migros-engagement.ch/" target="_blank">migros-engagement.ch</a>
            </p>
          </a-logo>
        </div>
        <div class="footer__nav">
          <div>
            <h6>ÜBER UNS</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Team</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Partner</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Festival History</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Locations</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>SERVICES</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Medien</a></a-link>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Professionals</a></a-link>
              </li>
            </ul>
          </div>
          <div>
            <h6>KONTAKT</h6>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">info@m4music.ch</a></a-link>
              </li>
              <li>
                <div class="icons">
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/facebook.svg"
                    href="https://www.facebook.com/m4music" target="_blank" lang="de" title="Facebook">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/instagram.svg"
                    href="https://www.instagram.com/m4musicfestival/" target="_blank" lang="de" title="Instagram">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/spotify.svg"
                    href="https://open.spotify.com/user/m4musicfestival" target="_blank" lang="de" title="Spotify">
                  </a-logo>
                  <a-logo namespace="footer-social-logo-" namespace-fallback src="../../../img/youtube.svg"
                    href="https://www.youtube.com/user/m4music1" target="_blank" lang="de" title="Youtube">
                  </a-logo>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__meta">
        <div class="metalinks">
          <ul>
            <li>
              &copy; m4music
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#">Impressum & Datenschutz</a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#">Rechliche Hinweise</a></a-link>
            </li>
          </ul>
        </div>
        <div class="languages">
          <ul>
            <li>
              <a-link class="active" namespace="footer-" namespace-fallback><a href="#"> DE </a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> FR </a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> EN </a></a-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__engagement hide-desktop">
        <a-logo namespace="footer-engagement-logo-" src="../../../img/kulturprozent.svg"
          href="https://www.migros-engagement.ch/engagement" target="_blank" lang="de">
          <p>m4music ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der
            Migros-Gruppe:
            <br /><a href="http://migros-engagement.ch/" target="_blank">migros-engagement.ch</a>
          </p>
        </a-logo>
      </div>
    </m4music-o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
        mobileBreakpoint: '960px'
    }
</script>
</body>

</html>