<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>M4Music</title>
</head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <a-logo namespace="header-logo-" src="../../../img/m4m_logo.png" href="/"></a-logo>
    </o-header>
    <m4music-o-body namespace="body-" namespace-fallback>
      <div>
        <p>21.September 2022</p>
        <h1>DEMOTAPE CLINIC 2022 - JETZT ANMELDEN!</h1>
        <p>Gewinne 1'000'000$ und bringe</p>
      </div>
      <div>
        <m4music-a-title namespace="title-" title="Test Title" namespace-fallback></m4music-a-title>
        <p>Paragraph</p>
        <p>Paragraph</p>
      </div>
      <div>
        <m4music-a-button namespace="button-" namespace-fallback>Jetzt anmelden</m4music-a-button>
      </div>
    </m4music-o-body>
    <m4music-o-footer namespace="footer-" namespace-fallback>
      <div class="footer__main">
        <div class="footer__cp">
          <a-logo namespace-fallback namespace="footer-engagement-logo-"
            src="https://sparx-space.ch/media/s0tda25t/logo_fge_mk_rgb_neg_300dpi_de.png?mode=max&width=720&format=png&quality=80&rnd=132774644163530000"
            href="https://www.migros-engagement.ch/engagement" target="_blank" lang="de">
            <p>m4music ist ein Projekt der Migros-Gruppe:
              <br /><a href="http://migros-engagement.ch/" target="_blank">migros-engagement.ch</a>
            </p>
          </a-logo>
        </div>
        <div class="footer__nav">
          <div>
            <m4music-a-title namespace="title-" title="ÜBER UNS" namespace-fallback></m4music-a-title>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Team</a>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Partner</a>
              </li>
            </ul>
          </div>
          <div>
            <m4music-a-title namespace="title-" title="SERVICES" namespace-fallback></m4music-a-title>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Medien</a>
              </li>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">Professionals</a>
              </li>
            </ul>
          </div>
          <div>
            <m4music-a-title namespace="title-" title="KONTAKT" namespace-fallback></m4music-a-title>
            <ul>
              <li>
                <a-link namespace="footer-" namespace-fallback><a href="#">info@m4music.ch</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="footer__meta">
        <div>
          <ul>
            <li>&copy; m4music</li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#">Impressum & Datenschutz</a>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#">Rechliche Hinweise</a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> DE </a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> FR </a></a-link>
            </li>
            <li>
              <a-link namespace="footer-" namespace-fallback><a href="#"> EN </a></a-link>
            </li>
          </ul>
        </div>
      </div>
    </m4music-o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
        mobileBreakpoint: '600px'
    }
</script>
</body>

</html>