<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <link href="../../../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <title>M4Music</title>
</head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <a-logo namespace="header-logo-" src="../../../img/m4m_white.svg" href="/" namespace-fallback></a-logo>
    </o-header>
    <m4music-o-body namespace="body-" namespace-fallback>
      
      <div>
        <m4music-o-wrapper>
          <div>
            <p><span class="heading2">Heading 2</span></p>
            <p><span class="heading3">Heading 3</span></p>
            <p><span class="heading4">Heading 4</span></p>
            <p><span class="heading5">Heading 5</span></p>
            <p><span class="heading6">Heading 6</span></p>
          </div>
        </m4music-o-wrapper>
      </div>

      <div>
        <m4music-a-button namespace="button-" namespace-fallback type="primary">Jetzt anmelden</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="secondary">Reglement</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="arrowRight">Anmelden</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="arrowDown">Springen</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="arrowLeft">Zurück</m4music-a-button>
      </div>
    </m4music-o-body>
  </p-general>
</body>

</html>