<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <meta name="viewport" content="width=device-width; initial-scale=1; viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <link href=../web-components-toolbox/src/css/initial.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/reset.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/colors.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/fonts.css rel=stylesheet type="text/css">
  <link href=../web-components-toolbox/src/css/variables.css rel=stylesheet type="text/css">
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <link href=../../../css/variablesCustom.css rel=stylesheet>
  <script src="../../../../wc-config.js" type="text/javascript"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <link href="../../../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="../../../css/cccd2390-2102-11ec-bcae-02a6d29600a2.css" rel="stylesheet" type="text/css">
  <title>M4Music</title>
</head>

<body>
  <p-general>
    <o-header namespace="header-" namespace-fallback>
      <a-logo namespace="header-logo-" src="../../../img/m4m_white.svg" href="/" namespace-fallback></a-logo>
    </o-header>
    <m4music-o-body namespace="body-" namespace-fallback>
      <div>
        <m4music-o-wrapper>
          <div>
            <p><strong>This is bold text</strong></p>
            <p><span class="heading2">Heading 2</span></p>
            <p><span class="heading3">Heading 3</span></p>
            <p><span class="heading4">Heading 4</span></p>
            <p><span class="heading5">Heading 5</span></p>
            <p><span class="heading6">Heading 6</span></p>
          </div>
        </m4music-o-wrapper>
      </div>
      <div>
        <m4music-a-button namespace="button-" namespace-fallback type="primary">Jetzt anmelden</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="secondary">Reglement</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="arrowRight">Anmelden</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="arrowDown">Springen</m4music-a-button>
        <m4music-a-button namespace="button-" namespace-fallback type="arrowLeft">Zurück</m4music-a-button>
      </div>
    </m4music-o-body>
  </p-general>
</body>

</html>