/**
 * NOTE: consider the following <link rel="preload" href="[url_to_font]"> to prefetch initially displayed fonts
 */

/* HelveticaNow for Kulturprozent Logo */
@import url("https://cdn.fonts.net/kit/3340f570-162c-11ec-861a-06a1935d90d4/3340f570-162c-11ec-861a-06a1935d90d4.css");

@font-face {
  font-family: "GillSansMTMedium";
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/GillSansMTMedium/normal_normal.woff") format("woff"),
    url("../fonts/GillSansMTMedium/normal_normal.woff2") format("woff2");
}
@font-face {
  font-family: "GillSansMTMediumItalic";
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/GillSansMTMediumItalic/italic_normal.woff") format("woff"),
    url("../fonts/GillSansMTMediumItalic/italic_normal.woff2") format("woff2");
}
@font-face {
  font-family: "GillSansMTBoldItalic";
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/GillSansMTBoldItalic/italic_normal.woff") format("woff"),
    url("../fonts/GillSansMTBoldItalic/italic_normal.woff2") format("woff2");
}
@font-face {
  font-family: "GillSansMTBold";
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/GillSansMTBold/normal_normal.woff") format("woff"),
    url("../fonts/GillSansMTBold/normal_normal.woff2") format("woff2");
}
