/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --a-text-decoration-hover: underline var(--color-orange) 1px solid;
  --a-text-decoration: underline var(--link-underline-color) solid 1px;
  --a-text-underline-offset:0.3rem;
  --background-color: #232323;
  --balloon-font-size:var(--h6-font-size);
  --body-picture-margin: 0.5rem 0;
  --body-spacer-height-mobile:min(1rem, 5vw);
  --body-spacer-height:min(1rem, 5vw);
  --border-color: #919191;
  --button-background-color-hover-primary: #E53C1A;
  --button-background-color-hover-secondary:var(--link-underline-color);
  --button-background-color-primary:var(--color-orange);
  --button-background-color-secondary:var(--color);
  --button-color-hover-secondary: var(--color-black);
  --button-color-primary: var(--color);
  --button-color-secondary: var(--color-black);
  --button-font-family:var(--font-family, var(--font-family-bold));
  --button-font-size-mobile:min(16px, 5vw);
  --button-font-size:0.75rem;
  --button-font-weight:var(--font-weight, var(--font-weight, normal));
  --button-height-mobile:auto;
  --button-icon-margin-left: 8px;
  --button-icon-padding: 0, 0.75rem;
  --button-margin-mobile: 0.5rem 0 0 0;
  --button-margin:0 0.5rem 0.5rem 0;
  --button-padding:0.5rem 0.75rem;
  --button-width:auto;
  --color-black:#000000;
  --color-grey: #555555;
  --color-light-grey: #686868;
  --color-orange:#FB5F3F;
  --color:#FFFFFF;
  --content-spacing-mobile:var(--content-spacing);
  --content-spacing:0;
  --content-width-mobile:90%;
  --content-width-not-web-component-mobile:90%;
  --content-width-not-web-component:70%;
  --content-width:70%;
  --font-family:"GillSansMTMedium", sans-serif;
  --font-size-label-small:min(0.5rem, 5vw);
  --font-size-mobile:min(18px, 5vw);
  --font-size:32px;
  --footer-a-font-size-mobile:min(18px, 3vw);
  --footer-a-font-size:0.65rem;
  --footer-a-text-underline-offset:0.2rem;
  --footer-background-color:var(--background-color);
  --footer-border-top:1px solid var(--border-color);
  --footer-color:var(--color);
  --footer-content-width-mobile:var(--content-width-mobile);
  --footer-content-width:var(--content-width);
  --footer-div-padding-mobile:0 0 1rem 0;
  --footer-div-padding:0 0 1rem 2.3rem;
  --footer-engagement-logo-align-items:flex-start;
  --footer-engagement-logo-flex-flow:column-reverse;
  --footer-engagement-logo-height-mobile:2rem;
  --footer-engagement-logo-height:1.57rem;
  --footer-engagement-logo-justify-content:flex-start;
  --footer-engagement-logo-text-a-color-hover:var(--footer-engagement-logo-text-a-color);
  --footer-engagement-logo-text-a-color: #f60;
  --footer-engagement-logo-text-a-text-decoration-hover:none;
  --footer-engagement-logo-text-color:var(--color);
  --footer-engagement-logo-text-font-family:"HelveticaNowTextRegular",Helvetica, sans-serif;
  --footer-engagement-logo-text-font-size-mobile:min(0.6rem, 3vw);
  --footer-engagement-logo-text-font-size:0.5rem;
  --footer-engagement-logo-text-line-height:1.4em;
  --footer-engagement-logo-text-padding-mobile:0.5rem 0 0 2.75rem;
  --footer-engagement-logo-text-padding:0.5rem 0 0 2.1rem;
  --footer-engagement-logo-text-width-mobile:auto;
  --footer-engagement-logo-text-width:30vw;
  --footer-engagement-padding-mobile:0 0 1rem 0;
  --footer-engagement-text-max-width:max(17rem, 4vw);
  --footer-flex-direction:column;
  --footer-li-padding:0 1em 0 0;
  --footer-meta-font-size-mobile:min(18px, 3vw);
  --footer-meta-font-size:0.65rem;
  --footer-meta-padding:1rem 0 1.5rem;
  --footer-padding:2rem 0 0;
  --footer-social-logo-height-mobile:min(1.2rem, 5vw);
  --footer-social-logo-height:0.8rem;
  --footer-social-logo-object-fit: fill;
  --footer-social-logo-padding-mobile:0.25rem 0.5rem 0 0;
  --footer-social-logo-padding:0;
  --footer-social-logo-width-mobile:min(1.2rem, 5vw);
  --footer-social-logo-width:0.8rem;
  --footer-text-decoration-focus:underline var(--color-orange) 1px solid;
  --footer-text-decoration-hover:underline var(--color-orange) 1px solid;
  --footer-text-decoration:underline var(--link-underline-color) solid 1px;
  --footer-title-h6-font-size-mobile:min(18px, 3vw);
  --footer-title-h6-font-size:0.75rem;
  --footer-title-h6-padding-mobile:0 0 0.22rem 0;
  --footer-title-h6-padding:0 0 0.22rem 0;
  --footer-ul-li-padding:0 0 0.5rem 0;
  --footer-ul-margin-mobile:0;
  --footer-ul-margin:0;
  --footer-ul-padding:0;
  --h-title-font-weight:normal;
  --h-title-margin:0 0 0.5rem 0;
  --h-title-padding:0;
  --h-title-text-transform: uppercase;
  --h1-color:var(--color);
  --h1-font-family:var(--font-family);
  --h1-font-size-mobile:min(1.8rem, 8vw);
  --h1-font-size:3rem;
  --h1-font-weight: var(--h-title-font-weight);
  --h1-line-height-mobile:100%;
  --h1-line-height:100%;
  --h1-margin-mobile:var(--h-title-margin);
  --h1-margin:var(--h-title-margin);
  --h1-padding:var(--h-title-padding);
  --h1-text-transform: var(--h-title-text-transform);
  --h2-color:var(--color);
  --h2-font-family:var(--font-family);
  --h2-font-size-mobile:min(1.6rem, 7vw);
  --h2-font-size:2rem;
  --h2-font-weight: var(--h-title-font-weight);
  --h2-line-height-mobile:100%;
  --h2-line-height:100%;
  --h2-margin-mobile:var(--h-title-margin);
  --h2-margin:var(--h-title-margin);
  --h2-padding:var(--h-title-padding);
  --h2-text-transform: var(--h-title-text-transform);
  --h3-color:var(--color);
  --h3-font-family:var(--font-family);
  --h3-font-size-mobile:min(1.35rem, 6vw);
  --h3-font-size:1.5rem;
  --h3-font-weight: var(--h-title-font-weight);
  --h3-line-height-mobile:100%;
  --h3-line-height:100%;
  --h3-margin-mobile:var(--h-title-margin);
  --h3-margin:var(--h-title-margin);
  --h3-padding:var(--h-title-padding);
  --h3-text-transform: var(--h-title-text-transform);
  --h4-color:var(--color);
  --h4-font-family:var(--font-family);
  --h4-font-size-mobile:min(1.25rem, 5vw);
  --h4-font-size:1.25rem;
  --h4-font-weight: var(--h-title-font-weight);
  --h4-line-height-mobile:125%;
  --h4-line-height:125%;
  --h4-margin-mobile:var(--h-title-margin);
  --h4-margin:var(--h-title-margin);
  --h4-padding:var(--h-title-padding);
  --h4-text-transform: var(--h-title-text-transform);
  --h5-color:var(--color);
  --h5-font-family:var(--font-family);
  --h5-font-size-mobile:min(1rem, 4vw);
  --h5-font-size:1rem;
  --h5-font-weight: var(--h-title-font-weight);
  --h5-line-height-mobile:125%;
  --h5-line-height:125%;
  --h5-margin-mobile:var(--h-title-margin);
  --h5-margin:var(--h-title-margin);
  --h5-padding:var(--h-title-padding);
  --h5-text-transform: var(--h-title-text-transform);
  --h6-color:var(--color);
  --h6-font-family:var(--font-family);
  --h6-font-size-mobile:min(0.9rem, 3vw);
  --h6-font-size:0.75rem;
  --h6-font-weight: var(--h-title-font-weight);
  --h6-line-height-mobile:125%;
  --h6-line-height:125%;
  --h6-margin-mobile:var(--h-title-margin);
  --h6-margin:var(--h-title-margin);
  --h6-padding:var(--h-title-padding);
  --h6-text-transform: var(--h-title-text-transform);
  --header-background-color:var(--background-color);
  --header-content-spacing:var(--content-spacing);
  --header-content-width-mobile:var(--content-width-mobile);
  --header-content-width:var(--content-width);
  --header-height-mobile:max(6rem, 20vw);
  --header-height:176px;
  --header-logo-height-mobile:min(16px, 8vw);
  --header-logo-height:32px;
  --header-logo-justify-content:start;
  --header-logo-width:195px;
  --header-position:static;
  --highlightbox-align-items: center;
  --highlightbox-background:var(--wrapper-background-secondary-color);
  --highlightbox-display: flex;
  --highlightbox-flex-direction: column;
  --highlightbox-h3-color: var(--h3-color);
  --highlightbox-h3-font-family: var(--h3-font-family);
  --highlightbox-h3-font-size: var(--h3-font-size);
  --highlightbox-h3-font-weight: var(--h3-font-weight);
  --highlightbox-h3-line-height: var(--h3-line-height);
  --highlightbox-h3-margin: var(--h3-margin);
  --highlightbox-h3-padding: var(--h3-padding);
  --highlightbox-h3-text-transform: var(--h3-text-transform);
  --highlightbox-h3-word-break: var(--h3-word-break);
  --highlightbox-justify-content: center;
  --highlightbox-margin-botton: 3rem;
  --highlightbox-mobile-padding: 0.9rem;
  --highlightbox-padding: 6vw 5vw;
  --highlightbox-text-align: center;
  --html-background-color:var(--background-color);
  --link-underline-color:#CCCCCC;
  --p-line-height-mobile:125%;
  --p-line-height:125%;
  --p-margin-mobile:0 0 1.35rem;
  --p-margin:0 0 1rem;
  --register-background-color:#E63C1A;
  --register-field-a-text-decoration: underline;
  --register-field-button-background-color-hover:var(--button-background-color-primary);
  --register-field-button-background-color:var(--button-background-color-primary);
  --register-field-button-font-size:var(--button-font-size);
  --register-field-button-height:auto;
  --register-field-button-padding:var(--button-padding);
  --register-field-button-width:auto;
  --register-field-checkbox-flex-direction: row;
  --register-field-color:var(--color);
  --register-field-description-font-size-mobile: 0.7rem;
  --register-field-description-font-size: 0.5rem;
  --register-field-description-padding:0.2rem 0 0 0;
  --register-field-description-width-mobile:100%;
  --register-field-description-width:max(30%, 512px);
  --register-field-error-font-size:0.9rem;
  --register-field-error-image-padding:0 0.2rem 0 0;
  --register-field-error-line-height:150%;
  --register-field-height-mobile:auto;
  --register-field-height:auto;
  --register-field-input-align-self:flex-start;
  --register-field-input-background:var(--background-color);
  --register-field-input-border-mobile:var(--register-field-input-border);
  --register-field-input-border-radius:4px;
  --register-field-input-border:1px solid var(--register-form-select-border);
  --register-field-input-border:1px;
  --register-field-input-box-shadow-mobile:none;
  --register-field-input-box-shadow:none;
  --register-field-input-checkbox-margin-mobile:0 0.2rem 0 0;
  --register-field-input-checkbox-margin:0 0.2rem 0 0;
  --register-field-input-color:var(--color);
  --register-field-input-font-size-mobile:var(--font-size-mobile);
  --register-field-input-font-size:var(--h6-font-size);
  --register-field-input-height-mobile:min(1.9rem, 8vw);
  --register-field-input-height:1.5rem;
  --register-field-input-margin:0;
  --register-field-input-outline:1px solid var(--color);
  --register-field-input-padding:0.25rem 0.375rem 0.25rem 0.375rem;
  --register-field-input-width-mobile:100%;
  --register-field-input-width:max(30%, 512px);
  --register-field-label-align-self:left;
  --register-field-label-color:var(--color);
  --register-field-label-font-size-mobile: var(--font-size-mobile);
  --register-field-label-font-size:var(--h6-font-size);
  --register-field-label-font-size:var(--h6-font-size);
  --register-field-label-padding-mobile:0.65rem 0 0.2rem 0;
  --register-field-label-padding:0.8rem 0 0.2rem 0;
  --register-field-label-text-align:left;
  --register-field-label-text-transform:none;
  --register-field-padding:0;
  --register-field-placeholder-color:var(--color);
  --register-field-radio-flex-direction:row-reverse;
  --register-field-radio-group-height:var(--register-field-input-height);
  --register-field-radio-group-width:var(--register-field-input-width);
  --register-field-radio-margin-mobile:0 0.5rem 0 0;
  --register-field-radio-margin:0 1rem 0 0;
  --register-field-radio-width:auto;
  --register-field-select-background-color: var(--register-field-input-background);
  --register-field-select-border-radius:var(--register-field-input-border-radius);
  --register-field-select-border:var(--background-color);
  --register-field-select-color:var(--color);
  --register-field-select-font-size-mobile:var(--h6-font-size-mobile);
  --register-field-select-font-size:var(--h6-font-size);
  --register-field-select-height-mobile:var(--register-field-input-height-mobile);
  --register-field-select-margin-mobile:0 0 0.2rem 0;
  --register-field-select-margin:0;
  --register-field-select-padding-mobile:0.2rem;
  --register-field-select-padding:0.375rem 0 0.375rem 0.25rem;
  --register-field-select-width-mobile: 100%;
  --register-field-select-width:var(--register-field-input-width);
  --register-field-text-align:left;
  --register-field-width:100%;
  --register-form-align-items-mobile: flex-start;
  --register-form-align-items: flex-start;
  --register-form-button-padding-top-mobile:0;
  --register-form-button-padding-top:0.8rem;
  --register-form-display:flex;
  --register-form-flex-direction: column;
  --register-form-justify-content: flex-start;
  --register-form-margin:0 1rem;
  --register-form-padding:1rem 0 1rem 0;
  --register-form-steps-counter-color:var(--color-orange);
  --register-form-steps-counter-padding:0 0.4rem 0 0;
  --register-form-steps-title-margin:0 0 0 1rem;
  --register-form-wrapper-wrapper-background-color:var(--wrapper-background-secondary-color);
  --register-width-mobile:100%;
  --register-width:100%;
  --spacer-height-mobile: 3.56rem;
  --spacer-height: 5rem;
  --video-border-color: var(--color-orange);
  --video-border-mobile: var(--video-border-width-mobile) var(--video-border-color) solid;
  --video-border-width-mobile: 0.8rem;
  --video-border-width: 1rem;
  --video-border: var(--video-border-width) var(--video-border-color) solid;
  --video-child-width: calc(100% - 2*var(--video-border-width));
  --video-height: 100%;
  --video-iframe-height-mobile: calc(((100vw * 0.9) - 2*var(--video-border-width)) * 0.5625);
  --video-iframe-height: calc(((100vw * 0.7) - 2*var(--video-border-width)) * 0.5625);
  --video-width: 100%;
  --wrapper-background-secondary-color:#434343;
  --wrapper-div-margin-mobile:0 0 1rem 0;
  --wrapper-div-margin:0 2rem 0 0;
  --wrapper-li-background-size: 1rem;
  --wrapper-li-padding:0 0 0.5rem 2rem;
  --wrapper-margin-bottom-mobile:2rem;
  --wrapper-margin-bottom:3rem;
}
