/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */

  @import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=cccd2390-2102-11ec-bcae-02a6d29600a2");

  @font-face {
    font-family: "GillSansMTBook";
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url('../fonts/GillSansMTBook/normal_normal_400.woff') format('woff'), url('../fonts/GillSansMTBook/normal_normal_400.woff2') format('woff2');
  }

  @font-face {
    font-family: "GillSansMTBold";
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url('../fonts/GillSansMTBold/normal_normal.woff') format('woff'), url('../fonts/GillSansMTBold/normal_normal_400.woff2') format('woff2');
  }


 :root {
  --body-h1-font-size:3.13rem;
  --body-h1-padding:0 0 3.75rem 0;
  --button-primary-background-color-custom:white;
  --button-primary-border-radius:var(--button-border-radius);
  --button-primary-color-custom:var(--background-color);
  --button-primary-font-size:0.75rem;
  --button-primary-line-height:1.2rem;
  --button-primary-padding: 0.4rem 0.875rem;
  --button-text-transform: uppercase;
  --color-hover:var(--button-background-color-hover-primary);
  --color-secondary: var(--button-background-color-primary);
  --figcaption-background-color:#FB5E3F;
  --figcaption-color:#232323;

  --button-secondary-background-color:yellow !important;
  
  /* ========================================================================= */
  --a-text-decoration-color-ext:var(--link-underline-color);
  --a-text-decoration-color-hover-ext:var(--color-orange);
  /* --a-text-decoration-line-ext:underline; */
  /* --a-text-decoration-line-hover-ext:underline; */
  --a-text-decoration-style-ext:solid;
  --a-text-decoration-style-hover-ext:solid;
  --a-text-underline-offset:0.3rem; 
  --background-color:#232323;
  --background-color-theme-light: #0c0404;
  --balloon-font-size:var(--h6-font-size);
  --body-light-background-color: #ffffff;
  --body-content-custom-width-mobile-white:100%;
  --body-content-custom-width-mobile:var(--content-width-not-web-component-mobile);
  --body-content-custom-width:var(--content-width-not-web-component);
  --body-detail-background-color-mobile:var(--color);
  --body-detail-main-background-color-mobile:var(--color);
  --body-detail-main-background-color:var(--color-);
  --body-home-content-custom-width: 100%;
  --body-p-margin-mobile:0.5rem 0 0.5rem 0;
  --body-p-margin:0.75rem 0 0.75rem 0;
  --body-picture-margin:0;
  --body-spacer-height-mobile:min(1.5rem, 5vw);
  --body-spacer-height:min(1.5rem, 5vw);
  --body-text-with-button-margin-bottom-mobile:1rem;
  --body-text-with-button-margin-bottom:1rem;
  --border-color:#919191;
  --button-background-color-arrowDown:var(--button-background-color-secondary);
  --button-background-color-hover-arrowDown:var(--button-background-color-hover-secondary);
  --button-background-color-hover-pass-secondary:var(--button-background-color-hover-secondary);
  --button-background-color-hover-primary:#EC2520;
  --button-background-color-hover-secondary:var(--link-underline-color);
  --button-background-color-pass-secondary:var(--button-background-color-secondary);
  --button-background-color-primary:var(--color-orange);
  --button-background-color-secondary:var(--color);
  --button-border-pass-secondary:1px solid black;
  --button-border-radius:0px;
  --button-color-arrowDown-mobile:var(--button-color-arrowDown);
  --button-color-arrowDown:var(--button-color-secondary);
  --button-color-hover-arrow:var(--button-color-hover-secondary);
  --button-color-hover-arrowDown:var(--button-color-hover-secondary);
  --button-color-hover-pass-secondary:var(--button-color-hover-secondary);
  --button-color-hover-primary:var(--color);
  --button-color-hover-secondary:var(--color-black);
  --button-color-pass-secondary:var(--button-color-secondary);
  --button-color-primary:var(--color);
  --button-color-secondary-mobile:var(--button-color-secondary);
  --button-color-secondary:var(--color-black);
  --button-filter-background-color-hover:var(--color-orange);
  --button-filter-background-color:#F3F3F3;
  --button-filter-color-hover:var(--color);
  --button-filter-color:var(--color-black);
  --button-filter-font-size-mobile:0.8rem;
  --button-filter-font-size:0.5rem;
  --button-filter-padding-mobile:0.45rem;
  --button-filter-padding:0.25rem;
  --button-filter-overview-background-color-hover:#FA4B46;
  --button-filter-overview-background-color:#232323;
  --button-filter-overview-color-hover:#FFFFFF;
  --button-filter-overview-color:#FFFFFF;;
  --button-filter-overview-font-size-mobile:0.8rem;
  --button-filter-overview-font-size:0.5rem;
  --button-filter-overview-padding-mobile:0.45rem;
  --button-filter-overview-padding:0.25rem;
  --button-font-family:var(--font-family, var(--font-family-bold));
  --button-font-size-mobile:min(16px, 5vw);
  --button-font-size:0.75rem;
  --button-font-weight:var(--font-weight, var(--font-weight, normal));
  --button-height-mobile:auto;
  --button-icon-display:inline-flex;
  --button-icon-margin-left:8px;
  --button-icon-margin-right:8px;
  --button-icon-padding:0 0.75rem 0 0;
  --button-icon-width-mobile:1.5rem;
  --button-icon-width:1.2rem;
  --button-margin-mobile:0.5rem 0 0 0;
  --button-margin:0 0.5rem 0.5rem 0;
  --button-padding:0.5rem 0.75rem;
  --button-width:auto;
  --carousel-pagination-background-color-hover: var(--button-background-color-hover-secondary);
  --carousel-pagination-background-color-selected-hover: var(--button-background-color-hover-primary);
  --carousel-pagination-background-color-selected: var( --button-background-color-primary);
  --carousel-pagination-background-color: var( --button-background-color-secondary);
  --carousel-pagination-border-radius: 0.5rem;
  --carousel-pagination-height: 0.25rem;
  --carousel-pagination-padding: 0.5rem 0;
  --carousel-pagination-width: 0.5rem;
  --carousel-transition-duration: 1s;
  --color-black:#000000;
  --color-grey:#555555;
  --color-light-grey:#686868;
  --color-orange:#FA4B46;
  --color:#FFFFFF;
  --color-theme-light:#232323;
  --content-spacing: 3.5rem;
  --content-width-mobile:88%;
  --content-width-not-web-component-mobile:90%;
  --content-width-not-web-component:88%;
  --content-width:88%;
  --detail-wrapper-p-margin:0 0;
  --detail-wrapper-padding-with-bg-color:0 4rem;
  --event-carousel-max-width: 100%;
  --event-carousel-width:100%;
  --event-detail-button-background-color-hover-primary:var(--button-background-color-hover-primary);
  --event-detail-button-background-color-primary: var(--button-background-color-primary);
  --event-detail-button-border-radius:var(--button-border-radius);
  --event-detail-button-font-size:0.75rem;
  --event-detail-button-margin-mobile:0;
  --event-detail-button-margin:0;
  --event-detail-button-padding-mobile:0.7rem 0.9rem;
  --event-detail-button-padding:0.5rem 0.75rem;
  --event-detail-button-width-mobile:auto;
  --event-detail-button-width:auto;
  --event-detail-picture-background-color: white;
  --event-detail-h1-color: white;
  --event-detail-date-color: white;
  --event-detail-picture-img-filter: grayscale(1);
  --event-detail-picture-img-max-height: 100%;
  --event-detail-picture-opacity: 0.5;
  --event-item-animation-duration: 500;
  --event-item-animation-easing: ease-out;
  --event-item-date-font-size: 0.5rem;
  --event-item-date-font-color: #232323;
  --event-item-date-font-size-mobile:0.889rem;
  --event-item-description-font-size-mobile:0.889rem;
  --event-item-name-font-size-mobile:1.66rem;
  --event-item-detail-a-text-color:inherit;
  --event-item-detail-a-text-decoration-color-hover:var(--color-orange);
  --event-item-detail-a-text-decoration-color:var(--color-black);
  --event-item-detail-a-text-decoration-line: underline;
  --event-item-detail-a-text-decoration-style:solid;
  --event-item-detail-a-text-underline-offset:0.1rem; 
  --event-item-icon-transform-open: rotate(45deg);
  --event-item-icon-transition: transform 0.15s ease;
  --event-item-margin-right: 0.45rem;
  --event-item-name-font-size-mobile:25px;
  --event-item-name-font-size:1.25rem;
  --event-item-name-line-height:100%;
  --event-item-picture-width-mobile:110px;
  --event-item-speaker-picture-border-radius-mobile:50%;
  --event-item-speaker-picture-border-radius:50%;
  --event-item-speaker-picture-width-mobile:110px;
  --eventlist-title-h-title-margin:0.5rem 0;
  --eventlist-title-h3-font-size-mobile:28px;
  --eventlist-title-padding-with-bg-color: 0 5%;
  --eventlist-title-wrapper-section-padding-mobile: 0;
  --eventlist-title-wrapper-section-padding-mobile-with-bg-color: 0 5%;
  --font-family:"GillSansMTBook", sans-serif;
  --font-size-label-small:min(0.5rem, 5vw);
  --font-size-mobile:min(18px, 5vw);
  --font-size:40px;
  --footer-a-font-size-mobile:min(18px, 5vw);
  --footer-a-font-size:0.55rem;
  --footer-a-text-underline-offset:0.2rem;
  --footer-background-color:var(--background-color);
  --footer-border-top:1px solid var(--border-color);
  --footer-color:var(--color);
  --footer-content-width-mobile:var(--content-width-mobile);
  --footer-content-width:var(--content-width);
  --footer-div-padding-mobile:0;
  --footer-div-padding:0 0 1rem 2.3rem;
  --footer-engagement-logo-align-items:flex-start;
  --footer-engagement-logo-flex-flow:column-reverse;
  --footer-engagement-logo-height-mobile:2.6rem;
  --footer-engagement-logo-height:1.57rem;
  --footer-engagement-logo-justify-content:flex-start;
  --footer-engagement-logo-text-a-color-hover:var(--footer-engagement-logo-text-a-color);
  --footer-engagement-logo-text-a-color:#f60;
  --footer-engagement-logo-text-a-text-decoration-hover:none;
  --footer-engagement-logo-text-color:var(--color);
  --footer-engagement-logo-text-font-family:"HelveticaNowTextRegular",Helvetica, sans-serif;
  --footer-engagement-logo-text-font-size-mobile:min(0.7rem, 5vw);
  --footer-engagement-logo-text-font-size:0.5rem;
  --footer-engagement-logo-text-line-height:1.4em;
  --footer-engagement-logo-text-padding-mobile:0.5rem 0 0 3.5rem;
  --footer-engagement-logo-text-padding:0.5rem 0 0 2.1rem;
  --footer-engagement-logo-text-width-mobile:auto;
  --footer-engagement-logo-text-width:30vw;
  --footer-engagement-padding-mobile:0 0 1rem 0;
  --footer-engagement-text-max-width:max(17rem, 4vw);
  --footer-flex-direction:column;
  --footer-icon-path-fill:var(--color-orange);
  --footer-li-padding:0 1em 0 0;
  --footer-meta-font-size-mobile:min(18px, 5vw);
  --footer-meta-font-size:0.65rem;
  --footer-meta-padding:1rem 0 1.5rem;
  --footer-padding:2rem 0 0;
  --footer-social-logo-height-mobile:min(1.5rem, 8vw);
  --footer-social-logo-height:0.8rem;
  --footer-social-logo-object-fit:fill;
  --footer-social-logo-padding-mobile:0.9rem 0.5rem 0 0;
  --footer-social-logo-padding:0;
  --footer-social-logo-width:0.8rem;
  --footer-text-decoration-focus:underline solid var(--color-orange) 1px;
  --footer-text-decoration-hover:underline solid var(--color-orange) 1px;
  --footer-text-decoration:underline solid var(--link-underline-color) 1px;
  --footer-title-h6-font-size-mobile:min(18px, 5vw);
  --footer-title-h6-font-size:0.75rem;
  --footer-title-h6-padding-mobile:0 0 0.22rem 0;
  --footer-title-h6-padding:0 0 0.22rem 0;
  --footer-ul-li-padding:0 0 0.5rem 0;
  --footer-ul-margin-mobile:0;
  --footer-ul-margin:0;
  --footer-ul-padding:0;
  --h-title-font-weight:normal;
  --h-title-margin:0 0 1em 0;
  --content-page-title-h-title-margin:1rem 0 0.5rem 0;
  --content-page-title-h-title-margin-mobile:1.35rem 0 0.5rem 0;
  --h-title-padding:0;
  --h-title-text-transform:uppercase;
  --h1-color:var(--color);
  --h1-font-family:var(--font-family);
  --h1-font-size-mobile:36px;
  --h1-font-size:2rem;
  --h1-font-weight:var(--h-title-font-weight);
  --h1-line-height-mobile:100%;
  --h1-line-height:100%;
  --h1-margin-mobile:var(--h-title-margin);
  --h1-margin:var(--h-title-margin);
  --h1-padding:var(--h-title-padding);
  --h1-text-transform:var(--h-title-text-transform);
  --h2-color:var(--color);
  --h2-font-family:var(--font-family);
  --h2-font-size-mobile:28px;
  --h2-font-size:1.9rem;
  --h2-font-weight:var(--h-title-font-weight);
  --h2-line-height-mobile:100%;
  --h2-line-height:100%;
  --h2-margin-mobile:var(--h-title-margin);
  --h2-margin:var(--h-title-margin);
  --h2-padding:var(--h-title-padding);
  --h2-text-transform:var(--h-title-text-transform);
  --h3-color:var(--color);
  --h3-font-family:var(--font-family);
  --h3-font-size-mobile:min(1.35rem, 6vw);
  --h3-font-size:1.5rem;
  --h3-font-weight:var(--h-title-font-weight);
  --h3-line-height-mobile:100%;
  --h3-line-height:100%;
  --h3-margin-mobile:var(--h-title-margin);
  --h3-margin:var(--h-title-margin);
  --h3-padding:var(--h-title-padding);
  --h3-text-transform:var(--h-title-text-transform);
  --h4-color:var(--color);
  --h4-font-family:var(--font-family);
  --h4-font-size-mobile:min(1.25rem, 5vw);
  --h4-font-size:0.95rem;
  --h4-font-weight:var(--h-title-font-weight);
  --h4-line-height-mobile:125%;
  --h4-line-height:125%;
  --h4-margin-mobile:var(--h-title-margin);
  --h4-margin:var(--h-title-margin);
  --h4-padding:var(--h-title-padding);
  --h4-text-transform:var(--h-title-text-transform);
  --h5-color:var(--color);
  --h5-font-family:var(--font-family);
  --h5-font-size-mobile:min(1rem, 4vw);
  --h5-font-size:1rem;
  --h5-font-weight:var(--h-title-font-weight);
  --h5-line-height-mobile:125%;
  --h5-line-height:125%;
  --h5-margin-mobile:var(--h-title-margin);
  --h5-margin:var(--h-title-margin);
  --h5-padding:var(--h-title-padding);
  --h5-text-transform:var(--h-title-text-transform);
  --h56-title-margin:var(--h-title-margin);
  --h6-color:var(--color);
  --h6-font-family:var(--font-family);
  --h6-font-size-mobile:min(0.9rem, 3vw);
  --h6-font-size:0.75rem;
  --h6-font-weight:var(--h-title-font-weight);
  --h6-line-height-mobile:125%;
  --h6-line-height:125%;
  --h6-margin-mobile:var(--h-title-margin);
  --h6-margin:var(--h-title-margin);
  --h6-padding:var(--h-title-padding);
  --h6-text-transform:var(--h-title-text-transform);
  --header-a-menu-icon-height-open-mobile:5px;
  --header-a-menu-icon-margin-open-mobile:0 0.4rem 0 0;
  --header-background-color-open:var(--color-orange);
  --header-background-color: #FA4B46;
  --header-box-sizing-open-mobile:border-box;
  --header-content-spacing:var(--content-spacing);
  --header-content-width-mobile:var(--content-width);
  --header-content-width:var(--content-width);
  --header-detail-background-color: var(--color-orange);
  --header-detail-button-color-arrowLeft-mobile: white;
  --header-detail-button-color-arrowLeft: white;
  --header-detail-button-font-size:0.75rem;
  --header-detail-button-icon-margin-right:8px;
  --header-detail-button-icon-padding-mobile:0 1rem 0 0;
  --header-detail-button-icon-padding:0;
  --header-detail-button-icon-width-mobile:1.5rem;
  --header-detail-button-icon-width:1.2rem;
  --header-detail-button-margin:0 max(2vw, 0.35rem) 0 0;
  --header-detail-button-text-transform: uppercase;
  --header-detail-flex-direction-mobile:row;
  --header-detail-height-mobile: 2rem;
  --header-detail-logo-height-mobile:var(--header-logo-height-mobile);
  --header-detail-logo-height:var(--header-logo-height);
  --header-detail-logo-justify-content:var(--header-logo-justify-content);
  --header-detail-logo-margin-mobile:0;
  --header-detail-logo-margin:var(--header-logo-margin);
  --header-detail-logo-width:var(--header-logo-width);
  --header-detail-position:static;
  --header-flex-direction-mobile:row;
  --header-header-logo-margin:0 1rem 0 0;
  --header-height: 2rem;
  --header-height-mobile: 4rem;
  --header-lang-navigation-color-hover:var(--color);
  --header-lang-navigation-font-size:max(20px, 0.65rem);
  --header-lang-navigation-text-decoration:underline solid var(--color-black) 1px;
  --header-lang-navigation-text-underline-offset:3px;
  --header-left-open-mobile:0;
  --header-logo-height-mobile:min(24px, 8vw);
  --header-logo-height:32px;
  --header-logo-justify-content:space-between;
  --header-logo-margin-mobile:0;
  --header-logo-margin:0;
  --header-logo-width:122px;
  --header-m4music-m-navigation-background-color-mobile:var(--color-orange);
  --header-m4music-m-navigation-background-color:transparent;
  --header-m4music-m-navigation-height:100vh;
  --header-m4music-m-navigation-padding-open-mobile:0;
  --header-navigation-a-link-color-no-scroll:var(--color-black);
  --header-navigation-a-link-content-spacing-no-scroll:0;
  --header-navigation-a-link-content-spacing:0.25rem;
  --header-navigation-a-link-font-size-mobile:var(--h3-font-size);
  --header-navigation-a-link-font-size-no-scroll:1rem;
  --header-navigation-a-link-font-size:0.75rem;
  --header-navigation-a-link-second-level-font-size-nav-open-mobile:1rem;
  --header-navigation-a-link-second-level-font-size-nav-open:0.75rem;
  --header-navigation-arrow-display:none;
  --header-navigation-background-color-child-mobile:var(--color-orange);
  --header-navigation-background-color-mobile:var(--color-orange);
  --header-navigation-background-color-no-scroll:var(--color-orange);
  --header-navigation-background-color:var(--background-color);
  --header-navigation-color-active:var(--color);
  --header-navigation-color-hover:var(--color);
  --header-navigation-color-mobile:var(--color-black);
  --header-navigation-color-open-mobile:var(--color);
  --header-navigation-color-open:var(--color);
  --header-navigation-color:var(--color-black);
  --header-navigation-flex-direction:column;
  --header-navigation-flex-wrap:wrap;
  --header-navigation-height:auto;
  --header-navigation-hr-color:none;
  --header-navigation-li-padding:0;
  --header-navigation-li-ul-display:contents;
  --header-navigation-li-ul-margin-bottom-mobile:0.9rem;
  --header-navigation-li-ul-margin-bottom:0.5rem;
  --header-navigation-line-height-mobile:initial;
  --header-navigation-line-height:normal;
  --header-navigation-margin-bottom-mobile:1.75rem;
  --header-navigation-margin-bottom:0.5rem;
  --header-navigation-min-width:auto;
  --header-navigation-padding-top:0;
  --header-navigation-padding:0;
  --header-navigation-text-align:center;
  --header-navigation-text-decoration-hover:none;
  --header-navigation-text-decoration:none;
  --header-padding-mobile:0;
  --header-padding:0 5% 0 5%;
  --header-position-open-mobile:inherit;
  --header-position:static;
  --header-social-logo-height-mobile:var(--footer-social-logo-height-mobile);
  --header-social-logo-img-margin:0;
  --header-top-open-mobile:0;
  --header-transition:none;
  --header-width-open-mobile:var(--content-width);
  --header-z-index:200;
  --highlightbox-align-items:center;
  --highlightbox-background:var(--wrapper-background-secondary-color);
  --highlightbox-display:flex;
  --highlightbox-flex-direction:column;
  --highlightbox-h3-color: var(--h3-color);
  --highlightbox-h3-font-family:var(--h3-font-family);
  --highlightbox-h3-font-size:var(--h3-font-size);
  --highlightbox-h3-font-weight:var(--h3-font-weight);
  --highlightbox-h3-line-height:var(--h3-line-height);
  --highlightbox-h3-margin:var(--h3-margin);
  --highlightbox-h3-padding:var(--h3-padding);
  --highlightbox-h3-text-transform:var(--h3-text-transform);
  --highlightbox-h3-word-break:normal;
  --highlightbox-justify-content:center;
  --highlightbox-margin-botton:3rem;
  --highlightbox-mobile-padding:0.9rem;
  --highlightbox-padding:6vw 5vw;
  --highlightbox-text-align:center;
  --html-background-color:var(--background-color);
  --jury-wrapper-h56-title-margin-mobile:0;
  --jury-wrapper-h56-title-margin:0;
  --jury-wrapper-p-margin-mobile: 0;
  --jury-wrapper-p-margin: 0;
  --jury-wrapper-wrapper-h3-text-color:var(--color-orange);
  --link-underline-color:#CCCCCC;
  --list-wrapper-a-text-decoration-hover: 1px solid transparent;
  --list-wrapper-flex-direction:column;
  --list-wrapper-wrapper-section-padding-mobile: 0;
  --macro-carousel-pagination-border-selected:var(--color-orange);
  --macro-carousel-pagination-color-selected:var(--color-orange);
  --navigation-icon-path-fill:var(--color-black);
  --newsletter-align-items:center;
  --newsletter-background-color:#E63C1A;
  --newsletter-background:var(--wrapper-background-secondary-color);
  --newsletter-button-background-color-hover-primary:var(--button-background-color-hover-secondary);
  --newsletter-button-background-color-primary:var(--button-background-color-secondary);
  --newsletter-button-border-radius:var(--button-border-radius);
  --newsletter-button-color-hover-primary:var(--button-color-hover-secondary);
  --newsletter-button-color-primary-mobile:var(--newsletter-button-color-primary);
  --newsletter-button-color-primary:var(--button-color-secondary);
  --newsletter-button-font-size-mobile:var(--button-font-size-mobile);
  --newsletter-button-font-size:var(--button-font-size);
  --newsletter-button-height:1.95rem;
  --newsletter-button-margin-mobile:0 0 0 0.3rem;
  --newsletter-button-margin:0 0 0 0.5rem;
  --newsletter-button-padding:0.4rem;
  --newsletter-display:flex;
  --newsletter-field-a-text-decoration:underline;
  --newsletter-field-checkbox-flex-direction:row;
  --newsletter-field-color:var(--color);
  --newsletter-field-description-font-size-mobile:0.7rem;
  --newsletter-field-description-font-size:0.5rem;
  --newsletter-field-description-padding:0.2rem 0 0 0;
  --newsletter-field-description-width-mobile:100%;
  --newsletter-field-description-width:max(30%, 512px);
  --newsletter-field-error-font-size:var(--newsletter-field-label-font-size);
  --newsletter-field-error-image-padding:0 0.2rem 0 0;
  --newsletter-field-error-line-height:150%;
  --newsletter-field-height-mobile:auto;
  --newsletter-field-height:auto;
  --newsletter-field-input-align-self:flex-start;
  --newsletter-field-input-background:var(--background-color);
  --newsletter-field-input-border-mobile:var(--newsletter-field-input-border);
  --newsletter-field-input-border-radius:4px;
  --newsletter-field-input-border:1px;
  --newsletter-field-input-box-shadow-mobile:none;
  --newsletter-field-input-box-shadow:none;
  --newsletter-field-input-checkbox-margin-mobile:0 0.2rem 0 0;
  --newsletter-field-input-checkbox-margin:0 0.2rem 0 0;
  --newsletter-field-input-color:var(--color);
  --newsletter-field-input-font-size-mobile:var(--font-size-mobile);
  --newsletter-field-input-font-size:var(--h6-font-size);
  --newsletter-field-input-height-mobile:1.95rem;
  --newsletter-field-input-height:2rem;
  --newsletter-field-input-margin:0;
  --newsletter-field-input-outline:1px solid var(--color);
  --newsletter-field-input-padding:0.25rem 0.375rem 0.25rem 0.375rem;
  --newsletter-field-input-width-mobile:100%;
  --newsletter-field-input-width:max(309px, 5vw);
  --newsletter-field-padding:0;
  --newsletter-field-placeholder-color:var(--color);
  --newsletter-field-text-align:left;
  --newsletter-field-width:100%;
  --newsletter-flex-direction:column;
  --newsletter-form-align-items-mobile:flex-start;
  --newsletter-form-align-items:center;
  --newsletter-form-button-margin:0;
  --newsletter-form-button-padding-top-mobile:0;
  --newsletter-form-button-padding-top:0;
  --newsletter-form-display:flex;
  --newsletter-form-flex-direction:row;
  --newsletter-form-justify-content: space-between;
  --newsletter-form-margin:0;
  --newsletter-form-padding:0;
  --newsletter-form-steps-counter-color:var(--color-orange);
  --newsletter-form-steps-counter-padding:0 0.4rem 0 0;
  --newsletter-form-steps-title-margin:0 0 0 1rem;
  --newsletter-form-wrapper-wrapper-background-color:var(--wrapper-background-secondary-color);
  --newsletter-h3-color:var(--h3-color);
  --newsletter-h3-font-family:var(--h3-font-family);
  --newsletter-h3-font-size:var(--h3-font-size);
  --newsletter-h3-font-weight:var(--h3-font-weight);
  --newsletter-h3-line-height:var(--h3-line-height);
  --newsletter-h3-margin:var(--h3-margin);
  --newsletter-h3-padding:var(--h3-padding);
  --newsletter-h3-text-transform:none;
  --newsletter-h3-word-break:normal;
  --newsletter-justify-content:center;
  --newsletter-m4music-m-form-display:flex;
  --newsletter-m4music-m-form-flex-direction:column;
  --newsletter-m4music-m-form-padding:0;
  --newsletter-margin-botton:3rem;
  --newsletter-mobile-padding:0.9rem;
  --newsletter-p-margin:0.5rem 0;
  --newsletter-padding:6vw 5vw;
  --newsletter-policy-font-size:0.5rem;
  --newsletter-policy-margin:0.25rem 0;
  --newsletter-text-align:center;
  --newsletter-width-mobile:100%;
  --newsletter-width:100%;
  --p-line-height-mobile:125%;
  --p-line-height:125%;
  --p-margin-mobile:0 0 1.35rem 0;
  --p-margin:0 0 1rem;
  --padding-white-background:1rem;
  --partner-logo-max-width:200px;
  --partner-text-color:var(--color-black);
  --quote-padding:1rem 0 1rem 0;
  --quote-person-color:#616161;
  --quote-person-font-size-mobile:1rem;
  --quote-person-font-size:0.75rem;
  --quote-person-line-height:125%;
  --quote-picture-border-radius-mobile:50%;
  --quote-picture-border-radius:50%;
  --quote-picture-img-max-width:370px;
  --quote-text-color:var(--color-black);
  --quote-text-font-size-mobile:1.6rem;
  --quote-text-font-size:2rem;
  --quote-text-line-height:100%;
  --register-background-color:#E63C1A;
  --register-field-a-text-decoration:underline;
  --register-field-button-background-color-hover:var(--button-background-color-primary);
  --register-field-button-background-color:var(--button-background-color-primary);
  --register-field-button-font-size:var(--button-font-size);
  --register-field-button-height:auto;
  --register-field-button-padding:var(--button-padding);
  --register-field-button-width:auto;
  --register-field-checkbox-flex-direction:row;
  --register-field-color:var(--color);
  --register-field-description-font-size-mobile:0.7rem;
  --register-field-description-font-size:0.5rem;
  --register-field-description-padding:0.2rem 0 0 0;
  --register-field-description-width-mobile:100%;
  --register-field-description-width:max(30%, 512px);
  --register-field-error-font-size:var(--register-field-label-font-size);
  --register-field-error-image-padding:0 0.2rem 0 0;
  --register-field-error-line-height:150%;
  --register-field-height-mobile:auto;
  --list-color-black: black;
  --register-field-height:auto;
  --register-field-input-align-self:flex-start;
  --register-field-input-background:var(--background-color);
  --register-field-input-border-mobile:var(--register-field-input-border);
  --register-field-input-border-radius:4px;
  --register-field-input-border:1px;
  --register-field-input-box-shadow-mobile:none;
  --register-field-input-box-shadow:none;
  --register-field-input-checkbox-margin-mobile:0 0.2rem 0 0;
  --register-field-input-checkbox-margin:0 0.2rem 0 0;
  --register-field-input-color:var(--color);
  --register-field-input-font-size-mobile:var(--font-size-mobile);
  --register-field-input-font-size:var(--h6-font-size);
  --register-field-input-height-mobile:min(1.9rem, 8vw);
  --register-field-input-height:1.5rem;
  --register-field-input-margin:0;
  --register-field-input-outline:1px solid var(--color);
  --register-field-input-padding:0.25rem 0.375rem 0.25rem 0.375rem;
  --register-field-input-width-mobile:100%;
  --register-field-input-width:max(30%, 512px);
  --register-field-label-align-self:left;
  --register-field-label-color:var(--color);
  --register-field-label-font-size-mobile:var(--font-size-mobile);
  --register-field-label-font-size:var(--h6-font-size);
  --register-field-label-padding-mobile:0.65rem 0 0.2rem 0;
  --register-field-label-padding:0.8rem 0 0.2rem 0;
  --register-field-label-text-align:left;
  --register-field-label-text-transform:none;
  --register-field-padding:0;
  --register-field-placeholder-color:var(--color);
  --register-field-radio-flex-direction:row-reverse;
  --register-field-radio-flex-wrap-mobile:wrap;
  --register-field-radio-group-height:auto;
  --register-field-radio-group-width:var(--register-field-input-width);
  --register-field-radio-margin-mobile:0 0.5rem 0 0;
  --register-field-radio-margin:0 1rem 0 0;
  --register-field-radio-width:auto;
  --register-field-select-background-color:var(--register-field-input-background);
  --register-field-select-border-radius:var(--register-field-input-border-radius);
  --register-field-select-border:var(--background-color);
  --register-field-select-color:var(--color);
  --register-field-select-font-size-mobile:var(--h6-font-size-mobile);
  --register-field-select-font-size:var(--h6-font-size);
  --register-field-select-height-mobile:var(--register-field-input-height-mobile);
  --register-field-select-margin-mobile:0 0 0.2rem 0;
  --register-field-select-margin:0;
  --register-field-select-padding-mobile:0.2rem;
  --register-field-select-padding:0.375rem 0 0.375rem 0.25rem;
  --register-field-select-width-mobile:100%;
  --register-field-select-width:var(--register-field-input-width);
  --register-field-text-align:left;
  --register-field-width:100%;
  --register-form-align-items-mobile:flex-start;
  --register-form-align-items:flex-start;
  --register-form-button-padding-top-mobile:0;
  --register-form-button-padding-top:0.8rem;
  --register-form-display:flex;
  --register-form-flex-direction:column;
  --register-form-justify-content:flex-start;
  --register-form-margin:0 1rem;
  --register-form-padding:1rem 0 1rem 0;
  --register-form-steps-counter-color:var(--color-orange);
  --register-form-steps-counter-padding:0 0.4rem 0 0;
  --register-form-steps-title-margin:0 0 0 1rem;
  --register-form-wrapper-wrapper-background-color:var(--wrapper-background-secondary-color);
  --register-input-align-self:flex-start;
  --register-input-background:var(--background-color);
  --register-input-border-mobile:var(--register-input-border);
  --register-input-border-radius:4px;
  --register-input-border:1px;
  --register-input-box-shadow-mobile:none;
  --register-input-box-shadow:none;
  --register-input-checkbox-margin-mobile:0 0.2rem 0 0;
  --register-input-checkbox-margin:0 0.2rem 0 0;
  --register-input-color:var(--color);
  --register-input-font-size-mobile:var(--font-size-mobile);
  --register-input-font-size:var(--h6-font-size);
  --register-input-height-mobile:min(1.9rem, 8vw);
  --register-input-height:1.5rem;
  --register-input-margin:0;
  --register-input-outline:1px solid var(--color);
  --register-input-padding:0.25rem 0.375rem 0.25rem 0.375rem;
  --register-input-text-align:left;
  --register-input-width-mobile:100%;
  --register-input-width:max(30%, 512px);
  --register-label-align-self:left;
  --register-label-color:var(--color);
  --register-label-font-size-mobile:var(--font-size-mobile);
  --register-label-font-size:var(--h6-font-size);
  --register-label-padding-mobile:0.65rem 0 0.2rem 0;
  --register-label-padding:0.8rem 0 0.2rem 0;
  --register-label-text-align:left;
  --register-label-text-transform:none;
  --register-width-mobile:100%;
  --register-width:100%;
  --spacer-height-mobile:1.5rem;
  --spacer-height:1.5rem;
  --speakers-name-color:var(--color-orange);
  --speakers-name-font-size-mobile:3.6rem;
  --speakers-name-font-size:2.5rem;
  --speakers-padding:1rem 0 1rem 0;
  --speakers-picture-border-radius-mobile:50%;
  --speakers-picture-border-radius:50%;
  --speakers-picture-img-max-width:var(--quote-picture-img-max-width);
  --speakers-picture-img-width:100%;
  --speakers-picture-width-mobile:160px;
  --text-decoration-hover:underline solid var(--color-orange) 1px;
  --text-decoration:underline solid var(--link-underline-color) 1px;
  --tickets-button-background-color-hover-primary:var(--button-background-color-hover-primary);
  --tickets-button-background-color-primary:var(--color-orange);
  --tickets-button-border-primary:var(--button-border-radius);
  --tickets-button-border-radius:var(--button-border-radius);
  --tickets-button-color-hover-primary:var(--color);
  --tickets-button-font-size:0.75rem;
  --tickets-button-margin-mobile:0;
  --tickets-button-margin:0;
  --tickets-button-padding:0.5rem;
  --video-border-color:var(--color-orange);
  --video-border-mobile:var(--video-border-width-mobile) var(--video-border-color) solid;
  --video-border-width-mobile:0.8rem;
  --video-border-width:0.375rem;
  --video-border:var(--video-border-width) var(--video-border-color) solid;
  --video-child-width-mobile:calc(100% - 2*var(--video-border-width-mobile));
  --video-child-width:calc(100% - 2*var(--video-border-width));
  --video-height:100%;
  --video-iframe-height-mobile:calc(((100vw * 0.9) - 2*var(--video-border-width)) * 0.5625);
  --video-iframe-height:calc(((100vw * 0.7) - 2*var(--video-border-width)) * 0.5625);
  --video-padding: 0;
  --video-width:calc((100% - 2*var(--video-padding)));
  --wrapper-background-secondary-color:#434343;
  --wrapper-div-margin-mobile:0 0 1rem 0;
  --wrapper-div-margin:0 2rem 0 0;
  --wrapper-last-margin-mobile:var(--wrapper-div-margin-mobile);
  --wrapper-li-background-size:1rem;
  --wrapper-li-padding:0 0 0.5rem 2rem;
  --wrapper-margin-bottom-mobile:2rem;
  --wrapper-margin-bottom:3rem;
  --wrapper-section-padding-mobile:0;
  --wrapper-text-picture-cover-content-spacing: 4rem;
  --button-icon-justify-content:flex-start;
  --jury-wrapper-h-title-margin:1rem 0 0 0;
  --jury-wrapper-h-title-margin-mobile:0.5rem 0 0 0;
  --jury-wrapper-photo-teaser-container-padding-bottom:1rem;
  --jury-wrapper-photo-teaser-container-padding-bottom-mobile:0.9rem;
  --header-detail-content-spacing-mobile: 1rem;
  --header-logo-big-img-margin: 0;
  --header-logo-big-justify-content: flex-start;
  --button-dark-background-color-primary: #232323;
  --button-dark-width: auto;
  --button-dark-width-mobile: 100%;
  --button-dark-padding: 0.4rem 0.875rem;
  --button-dark-padding-mobile: 1rem 0.5rem;
  --button-dark-font-size: 0.75rem;
  --button-dark-font-size-mobile: 1rem;
  --button-dark-margin: 0;
  --button-dark-margin-mobile: 0;
  --wrapper-text-picture-cover-align-items: stretch;
  --wrapper-text-picture-cover-flex-direction-mobile: column-reverse;
  --wrapper-text-picture-cover-h1-margin: 1rem 0 1rem;
  --wrapper-text-picture-cover-h1-margin-mobile: 1rem 0 1rem;
  --button-dark-color-hover-primary: white;
  --button-dark-background-color-hover-primary: #FA4B46;
  --figcaption-background-color: #FA4B46;
  --header-navigation-a-link-color-no-scroll: white;
  --header-navigation-color-mobile: white;
  --navigation-icon-path-fill: white;
  --header-navigation-align-items: flex-end;
  --header-lang-navigation-color-active: white;
  --header-lang-navigation-text-decoration: none;
  --button-primary-font-size-mobile: 1.1rem;
  --button-primary-padding: 0.4rem 0.875rem;
  --button-primary-padding-mobile: 1rem 0.5rem;
  --button-primary-font-size: 0.75rem;
  --button-primary-font-size-mobile: 1rem;
  --button-primary-inverted-font-size-mobile: 1.1rem;
  --button-primary-inverted-padding: 0.4rem 0.875rem;
  --button-primary-inverted-padding-mobile: 1rem 0.5rem;
  --button-primary-inverted-font-size: 0.75rem;
  --button-primary-inverted-font-size-mobile: 1rem;
  --button-primary-inverted-border-radius: 0;
  --button-font-size-mobile: 1.1rem;
  --image-no-margin-img-margin: 0;
  --button-primary-color-hover: white;
  --button-primary-inverted-background-color: white;
  --button-primary-inverted-background-color-hover: #232323;
  --spacer-margin: 1.5rem 0 0;
  --any-margin-top-first-child: 1.5rem;
  --any-margin-top-first-child-mobile: 1.5rem;
  --header-logo-big-width: 100%;
  --header-logo-big-width-mobile: 100%;
  --newsletter-field-input-border-radius: 0;
  --newsletter-field-input-height: auto;
  --newsletter-button-font-size: 0.5rem;
  --newsletter-button-height: auto;
  --newsletter-button-padding: 0.35rem 0.4rem;
  --newsletter-button-margin-mobile: 0;
  --image-no-margin-img-width: 100%;
  --image-no-margin-img-object-fit: cover;
  --img-margin: 0;
  --newsletter-button-background-color-hover-primary: black;
  --newsletter-button-color-hover-primary: white;
  --newsletter-button-background-color-hover-primary-mobile: black;
  --newsletter-button-color-hover-primary-mobile: white;
  --newsletter-button-padding-mobile: 0.4rem 0.875rem;
  --newsletter-button-margin: 0;
  --header-logo-big-height: 100%;
  --header-logo-big-height-mobile: 100%;
  --header-detail-button-color-hover-arrowLeft: white;
  --button-primary-inverted-color-disabled: #CCCCCC;
  --header-logo-stage-text-height: 200px;
  --header-logo-stage-text-width: 500px;
  --header-logo-stage-text-height-mobile: 90px;
  --header-logo-stage-text-width-mobile: 230px;
  --header-logo-stage-text-justify-content: flex-start;
  --header-logo-stage-text-justify-content-mobile: flex-start;
}

.theme-light {
  --background-color: white;
  --color: #232323;
  --h1-color: var(--color);
  --h2-color: var(--color);
  --h3-color: var(--color);
  --background-color-mobile: white;
  --color-mobile: #232323;
  --h1-color-mobile: var(--color);
  --h2-color-mobile: var(--color);
  --h3-color-mobile: var(--color);
  --footer-color-mobile: white;
  --button-color-arrowRight: #232323;
  --button-color-arrowRight-mobile: #232323;
  --speaker-image-img-margin: 0;
  --speaker-image-img-margin-mobile: 0;
  --any-content-spacing: 4rem;
  --any-content-spacing-mobile: 4rem;
}

.theme-red {
  --background-color: #FA4B46;
  --color: white;
  --h1-color: white;
  --h2-color: white;
  --h3-color: white;
  --h4-color: white;
  --background-color-mobile: #FA4B46;
  --color-mobile: white;
  --h1-color-mobile: white;
  --h2-color-mobile: white;
  --h3-color-mobile: white;
  --footer-color-mobile: white;
  --button-color-arrowRight: white;
  --button-color-arrowRight-mobile: white;
  --speaker-image-img-margin: 0;
  --speaker-image-img-margin-mobile: 0;
}

.h-title-no-margin {
  margin: 0 auto;
}


